<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>

  <script>

    /*const getCookieByKey = function (name) {
      return document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)')?.pop() || "";
    }

    const queryString = (function (a) {
      if (a == "") return {};
      const b = {};
      for (let i = 0; i < a.length; ++i) {
        const p = a[i].split('=', 2);
        if (p.length == 1)
          b[p[0]] = "";
        else
          b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));
      }
      return b;
    })(window.location.search.substr(1).split('&'));

    const token = getCookieByKey["authToken"] || queryString["authToken"];

    if (token) {
      localStorage.setItem("authToken", token);
    }

    window.location = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port : '');*/

  </script>
</body>

</html>